<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566722616270-mt9mcdtj88kb9l2mv2sra6m0qv6uqain.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566722616270-mt9mcdtj88kb9l2mv2sra6m0qv6uqain</string>
	<key>API_KEY</key>
	<string>AIzaSyADvwa3AlFaeYjAA70-GMdQT7S2mr_roUU</string>
	<key>GCM_SENDER_ID</key>
	<string>566722616270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carolanitz.voice-pitch-analyzer</string>
	<key>PROJECT_ID</key>
	<string>voicepitchanalyzer</string>
	<key>STORAGE_BUCKET</key>
	<string>voicepitchanalyzer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566722616270:ios:d890f0bda650451129e99f</string>
	<key>DATABASE_URL</key>
	<string>https://voicepitchanalyzer.firebaseio.com</string>
</dict>
</plist>